<!DOCTYPE html>
<html lang="en">

<head>
  <title>Meetings</title>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="/cdn/css/style.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <style>
    body {
      font-family: 'Quintessential', cursive;
      display: flex;
      background-image: url('/cdn/images/seashells.jpg');
      flex-direction: column;
      justify-content: center;
      text-align: center;
      width: auto;
      height: auto;
      color: black;
    }
  </style>
</head>

<!-- Added email, user name and password to the form and removed the address field (we can have a profile section on the user Dashboard where they complete all the necessary stuff) -->

<body>

  <form id="frm2" action="/api/meetings" method="post">

    <div id="mydiv1" class="topnav">
        <a class="active" href="/user/homepage">Home</a>
        <a href="/user/logout">Logout</a>
        <a href="/user/ArrivedSafeNotification">Arrived Safe Notification</a>
        <a href="/groups/group">Groups</a>
      </div>

    <div class="row">
      <br><br>
      <h3>Meetings</h3>
      <div class="column">
        <h2>Meeting Requests</h2>

        <% if(!requests.length) { %>
          <p>you have no meeting requests</p>
          <% } %>

            <% if(requests.length) { %>
              <ul>
                <% requests.forEach(function(request) { %>
                  <% if(request.meetingStatus !=1) { %>
                    <li>
                      <%= request.nameOfPersonRequesting %> from the <%= request.groupName_ID %> group requested a
                          <%= request.TypeOfMeeting %> meeting with you on <%= request.date %> at <%= request.time %>

                                <br>
                    </li>
                    <div id="Acceptdiv" class="meetingsNavigation">
                      <a class="active" href="/user/acceptMeeting/<%=request.ID%>">Accept</a>
                    </div>
                    <br>
                    <div id="Rejectdiv" class="addressNavigation">
                      <a class="active" href="/user/rejectMeeting/<%=request.ID%>">Reject</a>
                    </div>
                    <% } %>
                      <% }); %>
              </ul>
              <% } %>
                <br>
      </div>

      <div class="column">
        <h2>Scheduled Meetings</h2>

        <% if(!accepted.length) { %>
          <p>you have no meetings</p>
          <% } %>

            <% if(accepted.length) { %>
              <% accepted.forEach(function(meeting) { %>
                <% if(name == meeting.userName_ID) { %>
                  <li>
                    You have a <%= meeting.TypeOfMeeting %> meeting with <%= meeting.nameOfPersonRequesting %> from
                        the <%= meeting.groupName_ID %> group on <%= meeting.date %> at <%= meeting.time %>
  
                              <br>
                  </li>
                  <% } %>
                  <% if(name == meeting.nameOfPersonRequesting) { %>
                    <li>
                      You have a <%= meeting.TypeOfMeeting %> meeting with <%= meeting.userName_ID %> from
                          the <%= meeting.groupName_ID %> group on <%= meeting.date %> at <%= meeting.time %>
    
                                <br>
                    </li>
                    <% } %>
                <% }); %>
                  <% } %>

      </div>
    </div>
  </form>
</body>

</html>